apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: hello-monitor
spec:
  selector:
    matchLabels:
      app: hello-app
  endpoints:
  - port: 8080
    path: /metrics
    interval: 15s

