apiVersion: v1
kind: Service
metadata:
  name: hello-service
  namespace: hello-devops
  labels:
    app: hello-app
spec:
  selector:
    app: hello-app
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP

